
body {
    margin: 0;
    font-family: Itim;
    background-color: var(--white);
}

.hidden {
    display: none !important;
}

/*-----------------------Scroll-----------------------*/


body {
    --sb-track-color: var(--purpleL);
    --sb-thumb-color: #5a4f72;
    --sb-size: 0.6rem;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);

  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
/*-----------------------NAV-----------------------*/



nav {
    height: 5rem;
    display:  flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navTitle {
    background-color: var(--purple);
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
    padding-left: 1rem;
}

.navTitle img {
    width: 6rem;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;   
    pointer-events: none;
    user-select: none;
}

.navOptions{
    display: flex;
    background-color: var(--purpleL);
    width: 20%;
    padding: 1rem;
}

.optionsNotLogged, .optionsLogged{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem
}

.scoresButton, .nickButton, .LoginButton, .signUpButton{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ;
}

.scoresButton:hover, .nickButton:hover, .LoginButton:hover, .signUpButton:hover{
    transform: scale(1.15);
    color: white;
    cursor: pointer;
}

/*-----------------------FOOTER-----------------------*/


footer {
    background-color: var(--purple);
    height: 5rem;
    margin-top: 5rem;;
}