@font-face {
    font-family: Itim;
    src: url(resources/Itim-Regular.ttf);
}

:root {
    --lightBlue: #AFC1D6;
    --white: #F8F8F8;
    --purple: #655A7C;
    --purpleL: #AB92BF;
    --turquise: #BAE3DC;
}

body {
    margin: 0;
    font-family: Itim;
    background-color: var(--white);
}

.hidden {
    display: none !important;
}

.smallSize {
    font-size: 0.5rem !important;
}

.mediumSize {
    font-size: 1rem !important;
}

.bigSize {
    font-size: 2rem !important;
}

.hugeSize {
    font-size: 4rem !important;
}


/*-----------------------GAME-----------------------*/

.gameContainer {
    margin-top: 5rem;
    z-index: 10;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.game {
    background-color: var(--lightBlue);
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 15px 0px rgba(104, 105, 124, 0.53);
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.game input {
    width: 80%;
    height: 2rem;
    border: none;
    background-color: rgb(227, 228, 230);
    font-family: Itim;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.game button {
    border: none;
    background-color: var(--purpleL);
    color: var(--white);
    font-family: Itim;
    font-size: 110%;
}

input:focus {
    outline: none;
}

.gameScore {
    color: var(--white);
    font-size: 4rem;
    border: 1px solid rgb(221, 31, 31);
}

/*-----------------------Reaction Time-----------------------*/


.reactionGameButton {
    width: 50%;
    height: 10rem;
}

.reactionGameButton p {
    color: var(--white)
}

/*-----------------------Number Memory-----------------------*/

.gameNumberMemory {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2;
    width: 100%;

}

.gameNumber {
    color: var(--white);
    height: 10%;
}

.gameNumberInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameNumberInput input {
    height: 4rem;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.gameScoreNumber {
    height: 5%;
    margin-bottom: -1rem;
}

.gameNumberButton {
    margin-top: 1rem;
    padding: 1rem;
    width: 50%;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
